body {
  font-family: "Poppins", sans-serif;
}
.weather-app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px;
  background-color: #4370c7;
  border-radius: 32px;
}
#city-name {
  font-size: 48;
  font-weight: 700;
  color: white;
}
h2 {
  font-size: 18px;
  color: white;
}

.footer {
  display: block;
  margin: 0 auto;
}
